<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>중학교 수강신청</title>
  <!-- Link to Bootstrap.css stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    td { text-align: center; }
    td[rowspan="5"] { border-right: 2px solid #ddd; }
    input[type="radio"] { width:25px; height:25px; cursor:pointer; }
    .d { border-top: 2px solid #aaa; }
  </style>
</head>
<body>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">페이지 관리</h3>
          </div>
          <div class="card-body">
            <div id="account" class="btn btn-secondary">계정 목록 다운받기</div>
            <div id="result" class="btn btn-secondary">신청 결과 다운받기</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Link to Bootstrap.js and jQuery libraries -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript">

    accounts = JSON.parse('<%= JSON.stringify(users) %>')
    registers = JSON.parse('<%= JSON.stringify(registers) %>')

    function getCSV(filename, data) {

    }

    function downloadCSV(csv,filename) {
      let csvFile, link;

      const BOM = "\uFEFF";
      csv = BOM + csv;

      csvFile = new Blob([csv], {type: "text/csv"});
      link = document.createElement("a")
      link.download = filename;
      link.href = window.URL.createObjectURL(csvFile);
      link.style.display = "none";
      document.body.appendChild(link);
      link.click();
    }

    $(document).ready(_=>{
      $('#account').on('click', e=>{
        let filename = "accounts.csv";
        getCSV(filename, accounts);
      })
      $('#result').on('click', e=>{
        let filename = "registers.csv";
        getCSV(filename, registers);
      })
    })

  </script>
</body>
</html>